# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
tags
*.swp
.sconsign.dblite
lib
bin
3rd/ffmpeg/ffmpeg/doc/avoptions_codec.texi
3rd/ffmpeg/ffmpeg/doc/avoptions_format.texi
3rd/ffmpeg/ffmpeg/doc/fate.txt
3rd/ffmpeg/ffmpeg/doc/ffmpeg-all.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-all.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-bitstream-filters.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-bitstream-filters.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-codecs.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-codecs.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-devices.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-devices.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-filters.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-filters.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-formats.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-formats.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-protocols.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-protocols.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-resampler.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-resampler.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-scaler.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-scaler.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg-utils.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg-utils.pod
3rd/ffmpeg/ffmpeg/doc/ffmpeg.1
3rd/ffmpeg/ffmpeg/doc/ffmpeg.pod
3rd/ffmpeg/ffmpeg/doc/ffplay-all.1
3rd/ffmpeg/ffmpeg/doc/ffplay-all.pod
3rd/ffmpeg/ffmpeg/doc/ffplay.1
3rd/ffmpeg/ffmpeg/doc/ffplay.pod
3rd/ffmpeg/ffmpeg/doc/ffprobe-all.1
3rd/ffmpeg/ffmpeg/doc/ffprobe-all.pod
3rd/ffmpeg/ffmpeg/doc/ffprobe.1
3rd/ffmpeg/ffmpeg/doc/ffprobe.pod
3rd/ffmpeg/ffmpeg/doc/libavcodec.3
3rd/ffmpeg/ffmpeg/doc/libavcodec.pod
3rd/ffmpeg/ffmpeg/doc/libavdevice.3
3rd/ffmpeg/ffmpeg/doc/libavdevice.pod
3rd/ffmpeg/ffmpeg/doc/libavfilter.3
3rd/ffmpeg/ffmpeg/doc/libavfilter.pod
3rd/ffmpeg/ffmpeg/doc/libavformat.3
3rd/ffmpeg/ffmpeg/doc/libavformat.pod
3rd/ffmpeg/ffmpeg/doc/libavutil.3
3rd/ffmpeg/ffmpeg/doc/libavutil.pod
3rd/ffmpeg/ffmpeg/doc/libswresample.3
3rd/ffmpeg/ffmpeg/doc/libswresample.pod
3rd/ffmpeg/ffmpeg/doc/libswscale.3
3rd/ffmpeg/ffmpeg/doc/libswscale.pod
3rd/ffmpeg/ffmpeg/doc/print_options
3rd/ffmpeg/ffmpeg/ffmpeg
3rd/ffmpeg/ffmpeg/ffmpeg_g
3rd/ffmpeg/ffmpeg/ffplay
3rd/ffmpeg/ffmpeg/ffplay_g
3rd/ffmpeg/ffmpeg/ffprobe
3rd/ffmpeg/ffmpeg/ffprobe_g
3rd/ffmpeg/ffmpeg/libavcodec/libavcodec.pc
3rd/ffmpeg/ffmpeg/libavcodec/libavcodec.version
3rd/ffmpeg/ffmpeg/libavdevice/libavdevice.pc
3rd/ffmpeg/ffmpeg/libavdevice/libavdevice.version
3rd/ffmpeg/ffmpeg/libavfilter/libavfilter.pc
3rd/ffmpeg/ffmpeg/libavfilter/libavfilter.version
3rd/ffmpeg/ffmpeg/libavformat/libavformat.pc
3rd/ffmpeg/ffmpeg/libavformat/libavformat.version
3rd/ffmpeg/ffmpeg/libavutil/libavutil.pc
3rd/ffmpeg/ffmpeg/libavutil/libavutil.version
3rd/ffmpeg/ffmpeg/libswresample/libswresample.pc
3rd/ffmpeg/ffmpeg/libswresample/libswresample.version
3rd/ffmpeg/ffmpeg/libswscale/libswscale.pc
3rd/ffmpeg/ffmpeg/libswscale/libswscale.version
3rd/ffmpeg/ffmpeg/config.asm
3rd/ffmpeg/ffmpeg/doc/config.texi
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavcodec-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavdevice-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavfilter-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavformat-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavutil-uninstalled.pc
3rd/ffmpeg/ffmpeg/ffbuild/config.fate
3rd/ffmpeg/ffmpeg/ffbuild/config.log
3rd/ffmpeg/ffmpeg/ffbuild/config.mak
3rd/ffmpeg/ffmpeg/ffbuild/config.sh
3rd/ffmpeg/ffmpeg/config.asm
3rd/ffmpeg/ffmpeg/doc/config.texi
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavdevice-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavfilter-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libavformat-uninstalled.pc
3rd/ffmpeg/ffmpeg/ffbuild/config.fate
3rd/ffmpeg/ffmpeg/ffbuild/config.log
3rd/ffmpeg/ffmpeg/ffbuild/config.mak
3rd/ffmpeg/ffmpeg/ffbuild/config.sh
3rd/ffmpeg/ffmpeg/.version
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libswresample-uninstalled.pc
3rd/ffmpeg/ffmpeg/doc/examples/pc-uninstalled/libswscale-uninstalled.pc
3rd/ffmpeg/ffmpeg/ffbuild/.config
res
usr
t.mp3
t.pcm
test.pcm
*.os
idl/idl.json
src/media_player.def
test.mp3
